body {
  background: #f0f4f8;
}

#root {
  min-height: 100vh;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css に追加 */
.fc-daygrid-day-top {
  display: flex;
  flex-direction: column;      /* 縦並びに */
  align-items: center;         /* 横中央 */
  justify-content: center;     /* 縦方向も中央 */
  height: 100%;                /* 高さいっぱい */
}

.fc-daygrid-day-number {
  font-size: 0.875rem; /* text-sm */
  font-weight: 500;    /* font-medium */
  margin-bottom: 4px;  /* ドットとの隙間 */
}

.fc-toolbar {
  padding-inline: 10px;
}
